#### Impoerter les packages

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import r2_score, confusion_matrix

#### 1) Lire et préparer  la BDD

In [9]:
df = pd.read_csv("Reg-log_offre.csv")
df.head()

   Age  Gender  Offer
0   38  Female      0
1   32  Female      0
2   46    Male      1
3   34    Male      0
4   40    Male      0

In [10]:
d1 ={"Female":0,"Male":1}
#df["Gender"]=df["Gender"].replace(d1)
df["Gender"]=df["Gender"].map(d1)
df.head(10)

   Age  Gender  Offer
0   38       0      0
1   32       0      0
2   46       1      1
3   34       1      0
4   40       1      0
5   37       0      0
6   43       1      1
7   38       1      1
8   27       1      0
9   42       0      0

In [11]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X_train,X_test,     y_train,y_test    =   train_test_split(X,y,test_size=0.2,random_state=42)
print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(80, 2) (20, 2)
(80,) (20,)

### 2) Création et Entrenement le mode

In [12]:
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

#### 3) Faire de prévisions  et comperision

In [13]:
y_pred = model.predict(X_test)
comp = pd.DataFrame(y_pred,y_test)
comp

       0
Offer
1      1
1      1
1      1
0      0
0      0
1      1
0      0
1      1
1      1
0      0
0      0
0      0
0      0
0      0
1      1
0      1
0      0
1      1
1      1
0      0

#### Précission model

In [42]:
r2_score(y_test,y_pred)

array([[10,  1],
       [ 0,  9]], dtype=int64)

#### matrice de confision

In [14]:
confusion_matrix(y_test,y_pred)

array([[10,  1],
       [ 0,  9]], dtype=int64)

### 4) visualisation