In [22]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import Image
import pydotplus
from PIL import Image

from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.externals.six import StringIO

from sklearn.tree import DecisionTreeClassifier, export_graphviz

##### lire la BDD

In [23]:
df = pd.read_csv("DecisionTree_PastHires.csv")
df.head(4)

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y

In [24]:
df["Level of Education"].value_counts()

BS     7
PhD    4
MS     2
Name: Level of Education, dtype: int64

### 1) préparer les BDD

* d1 = {"Y":1,"N":0}
* d2 = {"BS":1,"MS":2,"PhD":3}
* df["Employed?"]=df["Employed?"].map(d1)
* df["Level of Education"]=df["Level of Education"].map(d2)
* df["Top-tier school"]=df["Top-tier school"].map(d1)
* df["Interned"]=df["Interned"].map(d1)
* df["Hired"]=df["Hired"].map(d1)
* df.head()

In [25]:
d1 = {"Y":1,"N":0}
d2 = {"BS":1,"MS":2,"PhD":3}
df["Employed?"]=df["Employed?"].replace(d1)
df["Level of Education"]=df["Level of Education"].replace(d2)
df["Top-tier school"]=df["Top-tier school"].replace(d1)
df["Interned"]=df["Interned"].replace(d1)
df["Hired"]=df["Hired"].replace(d1)
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,1,4,1,0,0,1
1,0,0,0,1,1,1,1
2,7,0,6,1,0,0,0
3,2,1,1,2,1,0,1
4,20,0,2,3,1,0,0

### Création le model

In [26]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

model = DecisionTreeClassifier(criterion="gini",random_state=42)
model.fit(X_train,y_train)

y_pred = model.predict(X_test)
comp = pd.DataFrame(y_pred,y_test)
score =metrics.accuracy_score(y_test,y_pred)
print(comp,'\n',score)

       0
Hired
1      1
0      1
1      1
 0.6666666666666666

In [28]:
dot_data =StringIO()

pip install six

In [29]:
export_graphviz(model,out_file=dot_data,feature_names=X.columns)

In [30]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [31]:
Image(graph.create_png())

InvocationException: GraphViz's executables not found